.header_title {
  text-align: left;
  padding-left: 0.5rem;
  padding-block: 0.2rem;
  font-weight: 600;
  font-size: 2rem;
  border-width: 0.5rem;
  border-style: solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 1rem;
}
