.navbar {
  padding-inline: 5%;
  padding-block: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

.ham_container {
  position: fixed;
  right: 5%;
  top: 3.5%;
  z-index: 999;
  display: none;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: auto;
}

.nav_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav_items h5 {
  font-weight: 400;
  font-size: 1rem;
  margin-inline: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navigations {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.nav_items h5:hover {
  color: var(--primary-pink);
}

.login_buttons img {
  cursor: pointer;
}

.ham_navbar {
  width: 75%;
  height: 100%;
  padding-inline: 5%;
  padding-block: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  z-index: 100;
  transform: translateX(100%);
  transition: all 300ms ease-in;
}

.ham_nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: auto;
}

.ham_nav_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ham_nav_items h5 {
  font-weight: 400;
  font-size: 1rem;
  margin-inline: 0.5rem;
  margin-block: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ham_navigations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 3rem;
}

.ham_nav_items h5:hover {
  color: var(--primary-pink);
}

.ham_login_buttons img {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

.ham_login_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.ham_menu {
  width: 35px;
  height: 25px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99999;
}

.ham_menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--primary-pink);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.ham_menu span:nth-child(1) {
  top: 0px;
}

.ham_menu span:nth-child(2) {
  top: 10px;
}

.ham_menu span:nth-child(3) {
  top: 20px;
}

.ham_menu.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.ham_menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.ham_menu.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media (max-width: 768px) {
  .ham_container {
    display: block;
  }

  .navigations {
    display: none;
  }

  .login_buttons {
    display: none;
  }

  .ham_navbar.open {
    transform: translateX(0%);
  }
}
